Django==3.0.4
psycopg2-binary==2.8.4
djangorestframework==3.11.0
black==19.10b0
invoke==1.4.1
autoflake==1.4
isort==4.3.21
gunicorn==19.9.0
dj_database_url==0.5.0
django-filter==2.4.0
django-crispy-forms==1.9.2
requests==2.24.0
envparse==0.2.0 
celery==4.4.7